//Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 8px;
}


// Variables
// Colors
$skyColor: #33aaff;
$pipeColor1: #66d500;
$pipeColor2: #00aa00;
$borderColor: black;
$grassColor1: #00aa00;
$grassColor2: #33aaff;
$groundColor1: #cc5500;
$groundColor2: #ffaa99;
$groundColor3: black;
$marioColor1: #cc2b00;
$marioColor2: #998000;
$marioColor3: #ffaa33;
$cloudColor1: white;
$cloudColor2: #33aaff;
$questionColor1: #d64e10;
$questionColor2: #ffbf79;
$questionColor3: black;

.scene {
  width: 100vw;
  height: 100vh;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mario
.mario-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 240px;
  height: 320px;
  border: 2px solid black;
}

.mario-color1 {
  background-color: $marioColor1;
}

.mario-color2 {
  background-color: $marioColor2;
}

.mario-color3 {
  background-color: $marioColor3;
}

.question-container {
  display: grid;
  background-color: $questionColor2;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.question-color1 {
  background-color: $questionColor1;
}

.question-color3 {
  background-color: $questionColor3;
}


// Sky

.sky-color {
  background-color: $skyColor;
}